jupyter
json5
langchain
langchain_openai
langchain_google_genai
langgraph
lxml
matplotlib
nltk
numpy
pandas
rapidfuzz
scikit-learn
sentence-transformers
tiktoken
typing_extensions
wordcloud
python-dotenv